body{
		background-color: black;
		font-family: "Comic Sans MS", "Gigi Regular",sans-serif;
        width: 100%;
        text-align: center;
        color: #c6baba;
        font-size: 40px
 }

p{
	font-family: verdana;
	color: white;
	font-size:20px
}

h2{
	font-family: "Bauhaus 93 Regular";
	color: #d9f138
}

h6{
	font-size: 15px
}
	